*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: rgb(22,22,30);
background: linear-gradient(173deg, rgba(22,22,30,1) 1%, rgba(42,42,50,1) 42%, rgba(76,76,83,1) 76%, rgba(171,170,170,1) 100%);
min-height: 100vh;
}

.name_site_ops{
padding-left: 20px;
color:00D7CB;
font-family: 'Kalam';

margin-top: 10px;
margin-bottom: 10px;
font-size: 30px;
color: #00bbff;
}



.divider {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text_info{
    color: white;
    font-family: 'Jura';
    font-size: 18px;
    margin-bottom: 20px;

    text-align: left; 
    padding: 20px;
}


.text_info2{
    color: white;
    font-family: 'Jura';
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: -40px;
    text-align: left; 
    padding: 20px;
}

.Exid{
    border: 0px;
    border-radius: 10px;
    background-color: D8D8D8;
    width: 120px;
    padding: 5px;
    bottom: 0;
    margin-left: 25px;
}

.news_baza{
    text-align: center;
}

.news1_t1{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    .datepost{
    padding-left: 260px;
    }
}


.news2_t1{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    a{
        font-size: 14px ;
        color: rgb(104, 255, 167);
        text-decoration: none;
    }

    .datepost{
    padding-left: 260px;
    }
}

.news3_t3{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    .openpost{
        width: 70px;
        height: 16px;
        font-size: 10px;
        padding-bottom: 15px;
        border-radius: 6px;
        position: absolute;
        margin-left: 15px;
    }

    .datepost{
    padding-left: 260px;
    }

    
}



.newsopenpost3{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
  background-color: rgba(0,0,0, .3);
  display:grid;
  align-items: center;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
  }
  
  .newsopenpost3_box{
  width: 350px;
  padding: 15px;
  height: auto;
  z-index: 1;
  background-color: white;
  font-family: 'Jura';
  background-color: EFEFEF;
  border-radius: 18px;
  font-size: 16px;
  margin: auto;
  
  -webkit-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  -moz-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  
  transform: scale(0);
  transition: transform .6s ;
  
  p{
  margin-top: 20px;
  }
  
  .closepost3{
  background-color: rgb(220, 220, 220);
  width: 110px;
  height: 29px;
  margin-top: 15px;
  border: 0px;
  border-radius: 8px;
  margin-left: 215px;
  
  border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
      cursor: pointer;
  }
  }
  
  .newsopenpost3.open{
    visibility: visible;
    opacity: 1;
  }
  
  .newsopenpost3.open .newsopenpost3_box{
    transform: scale(1);
  }


  .news4_t1{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    a{
        font-size: 14px ;
        color: rgb(104, 255, 167);
        text-decoration: none;
    }

    .datepost{
    padding-left: 260px;
    }
}


.news5_t1{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    a{
        font-size: 14px ;
        color: rgb(104, 255, 167);
        text-decoration: none;
    }

    .datepost{
    padding-left: 260px;
    }
}



.news6_t1{
    background-color: rgb(154, 154, 154);
    width: 340px;
    height: auto;
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
   display: inline-block;

    p{
        font-size: 15px;
        text-align: left;
    }

    .datepost{
    padding-left: 260px;
    }
}