*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: rgb(22,22,30);
background: linear-gradient(173deg, rgba(22,22,30,1) 1%, rgba(42,42,50,1) 42%, rgba(76,76,83,1) 76%, rgba(171,170,170,1) 100%);
}

.name_site_ops{
padding-left: 20px;
color:00D7CB;
font-family: 'Kalam';
margin-top: 10px;
font-size: 30px;
}



.divider {
    height: 2px;
    background-color: #ccc;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.text_info{
    color: white;
    font-family: 'Jura';
    font-size: 18px;
    margin-bottom: 20px;

    text-align: left; 
    padding: 20px;
    margin-bottom: -7px;
}


.text_info2{
    color: white;
    font-family: 'Jura';
    font-size: 18px;
    text-align: center; 
    padding: 20px;
    margin-top: -25px;

}

.Exid{
    border: 0px;
    border-radius: 10px;
    background-color: D8D8D8;
    width: 120px;
    padding: 5px;
    margin-top: -10px;
    margin-left: 17px;
    margin-bottom: 20px;
}

.Aut{
    border: 0px;
    border-radius: 10px;
    background-color: D8D8D8;
    width: 120px;
    padding: 5px;
    margin-top: -10px;
    margin-left: 17px;
    margin-bottom: 20px;
}




.postinfo{
    width: 345px ;
    height: 115px ;
    background-color: 828282;
    border-radius: 14px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Jura';

 img{
    width: 130px;
    height: 115px;
    padding-left: 13px;
}

.img2{
    width: 130px;
    margin-left: 60px;
}

.t1{
  font-size: 25px;  
  position: absolute;
  margin-top: -100px;
  margin-left: 103px;
}
.t2{
    font-size: 20px;
    position: absolute;
  margin-top: -28px;
  margin-left: 103px;
}   
}



.postsyd{
    width: 340px ;
    height: 100px ;
    background-color: ABABAB;
    border-radius: 14px;
    margin: auto;
    font-family: 'Jura';

img{
    width: 100px;
    height: 100px;
    border-radius: 14px;
}
.t1{
  font-size: 22px;  
  position: absolute;
  margin-top: -100px;
  margin-left: 103px;
}
.t2{
    font-size: 19px;
    position: absolute;
  margin-top: -28px;
  margin-left: 103px;
}   
}

.postteacher{
    width: 340px ;
    height: 100px ;
    background-color: ABABAB;
    border-radius: 14px;
    margin: auto;
    margin-top: 17px;
    font-family: 'Jura';

img{
    width: 100px;
    height: 100px;
    border-radius: 14px;
}
.t1{
  font-size: 22px;  
  position: absolute;
  margin-top: -100px;
  margin-left: 103px;
}
.t2{
    font-size: 18.5px;
    position: absolute;
  margin-top: -47px;
  margin-left: 103px;
}   
}




.mod4{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
  background-color: rgba(0,0,0, .3);
  display:grid;
  align-items: center;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
  }
  
  .mod_box4{
  width: 350px;
  padding: 15px;
  height: 540px;
  z-index: 1;
  background-color: white;
  font-family: 'Jura';
  background-color: EFEFEF;
  border-radius: 18px;
  font-size: 16px;
  margin: auto;
  
  -webkit-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  -moz-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  
  transform: scale(0);
  transition: transform .6s ;
  
  h2{
    text-align: center;
  }
  
  p{
  margin-top: 20px;
  }
  
  
  .mes4{
    background-color: AAAAAA;
    width: 330px;
    height: 35px;
    font-size: 17px;
    border: 0px;
    border-radius: 7px;
    margin-left: -5px;
    margin-top: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
      cursor: pointer;
  }
  
  .close4{
  background-color: rgb(220, 220, 220);
  width: 110px;
  height: 29px;
  margin-top: 15px;
  border: 0px;
  border-radius: 8px;
  margin-left: 215px;
  
  border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
      cursor: pointer;
  }
  }
  
  .mod4.open{
    visibility: visible;
    opacity: 1;
  }
  
  .mod4.open .mod_box4{
    transform: scale(1);
  }

  /*new*/

  .mod5{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
  background-color: rgba(0,0,0, .3);
  display:grid;
  align-items: center;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
  }
  
  .mod_box5{
  width: 350px;
  padding: 15px;
  height: 540px;
  z-index: 1;
  background-color: white;
  font-family: 'Jura';
  background-color: EFEFEF;
  border-radius: 18px;
  font-size: 16px;
  margin: auto;
  
  -webkit-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  -moz-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
  
  transform: scale(0);
  transition: transform .6s ;
  
  h2{
    text-align: center;
  }
  
  p{
  margin-top: 20px;
  }
  
  
  .mes5{
    background-color: AAAAAA;
    width: 330px;
    height: 35px;
    font-size: 17px;
    border: 0px;
    border-radius: 7px;
    margin-left: -5px;
    margin-top: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
      cursor: pointer;
  }
  
  .close5{
  background-color: rgb(220, 220, 220);
  width: 110px;
  height: 29px;
  margin-top: 15px;
  border: 0px;
  border-radius: 8px;
  margin-left: 215px;
  
  border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
      cursor: pointer;
  }
  }
  
  .mod5.open{
    visibility: visible;
    opacity: 1;
  }
  
  .mod5.open .mod_box5{
    transform: scale(1);
  }
  


  /*Відкриваємо відправку на навчання SYD*/

.teachingSYD{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
display:grid;
align-items: center;
overflow: auto;
visibility: hidden;
opacity: 0;
transition: opacity .4s, visibility .4s;

background: rgb(255,239,162);
background: linear-gradient(142deg, rgba(255,239,162) 10%, rgba(255,163,0,1) 34%, rgba(13,0,255) 73%, rgba(180,0,255) 100%);
}

.T_BoxSYD{
width: 345px;
padding: 15px;
height: 450px;
z-index: 1;
background-color: white;
font-family: 'Jura';
background-color: A9A9A9;
border-radius: 18px;
font-size: 16px;
margin: auto;

-webkit-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
-moz-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);

transform: scale(0);
transition: transform .6s ;

h2{
  text-align: center;
  margin-top: 12px;
  font-size: 22px;
}

p{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
font-size: 20px;
}


.butT_SYD{
  width: 315px;
  padding: 6px;
  border: 0px;
  border-radius: 10px;
  color: white;

  background: rgb(87,87,87);
background: linear-gradient(90deg, rgba(87,87,87,1) 43%, rgba(132,132,132,1) 100%);
}

.sentSYD{
  width: 300px;
  padding: 8px;
  border-radius: 13px;
  margin-left: 8px;
}

.closeT_SYD{
background-color: rgb(220, 220, 220);
width: 110px;
height: 29px;
margin-top: 30px;
border: 0px;
border-radius: 14px;
margin-left: 210px;

border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
    cursor: pointer;
}
}

.teachingSYD.open{
  visibility: visible;
  opacity: 1;
}

.teachingSYD.open .T_BoxSYD{
  transform: scale(1);
}

 /*Відкриваємо відправку на навчання Nav*/

 .teachingNav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
display:grid;
align-items: center;
overflow: auto;
visibility: hidden;
opacity: 0;
transition: opacity .4s, visibility .4s;

background: rgb(255,239,162);
background: linear-gradient(142deg, rgba(255,239,162) 10%, rgba(255,163,0,1) 34%, rgba(13,0,255) 73%, rgba(180,0,255) 100%);
}

.T_BoxNav{
width: 345px;
padding: 15px;
height: 450px;
z-index: 1;
background-color: white;
font-family: 'Jura';
background-color: A9A9A9;
border-radius: 18px;
font-size: 16px;
margin: auto;

-webkit-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
-moz-box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);
box-shadow: 5px 5px 11px 17px rgba(0,0,0,0.16);

transform: scale(0);
transition: transform .6s ;

h2{
  text-align: center;
  margin-top: 12px;
  font-size: 22px;
}

p{
margin-top: 20px;
margin-bottom: 20px;
margin-left: 10px;
font-size: 20px;
}


.butT_Nav{
  width: 315px;
  padding: 6px;
  border: 0px;
  border-radius: 10px;
  color: white;

  background: rgb(87,87,87);
background: linear-gradient(90deg, rgba(87,87,87,1) 43%, rgba(132,132,132,1) 100%);
}

.sentNav{
  width: 300px;
  padding: 8px;
  border-radius: 13px;
  margin-left: 8px;
}

.closeT_Nav{
background-color: rgb(220, 220, 220);
width: 110px;
height: 29px;
margin-top: 30px;
border: 0px;
border-radius: 14px;
margin-left: 210px;

border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Тінь: зміщення по X, Y, розмір розмиття, колір */
    cursor: pointer;
}
}

.teachingNav.open{
  visibility: visible;
  opacity: 1;
}

.teachingNav.open .T_BoxNav{
  transform: scale(1);
}